body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-align: center;
}

#title { 
    font-size: 50px;
    color: tomato;
}

#lowerPart {
    width: 80%;
    height: 450px;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #5db6e3;
    display: flex;
}

#player_1_area, #player_2_area {
    width: 30%;
    height: 80%;
    margin-top: 4%;
    font-size: 30px;

}

#control_area {
    width: 40%;
}

#player_0, #player_1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: tomato;
    color: white;
}
#instance_0, #instance_1 {
    font-size: 80px;
    margin-top: 10%;
    margin-bottom: 10%;
    color: white;
}

#turn_0, #turn_1 {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: white;
    margin-bottom: 10%;
}

img {
    width: 40%;
    height: 40%;
    margin-top: 10%;
    cursor: pointer;
}

#newGame, #endTurn {
    width: 60%;
    border-radius: 7px;
    font-size: 120%;
    padding-top: 3px;
    height: 40px;
    margin-top: 9%;
    border: 1px solid turquoise;
    background-color: white;
    cursor: pointer;
}

#total_0, #total_1 {
    font-size: 30px;
    color: white;
}

#insert {
    width: 70%;
    height: 35px;
    margin-top: 5%;
    font-size: 20px;
    text-align: center;
    margin-left: 15%;
    color: orangered;
}

#credit {
    color: black;
    font-style: italic;
    font-size: 12px;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 15px;
}